.nav-top {
	width: 100vw;
	height: 70px;
	border-bottom: 1px solid #ff5050;
}
.nav-con {
	display: inline-block;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	width: 100%;
}
.brand, .user, .items-num, .seperator {
	display: inline-block;
}
.items-num {
	margin-top: 15px;
}
.brand, .user, .items-num {
	color: #ff5050;
}
.brand, .user {
	font-family: 'Quicksand', sans-serif;
}
.user {
	float: right;
}
.items-num {
	text-align: center;
	height: 40px;
	width: 40px;
	float: right;
	border: 1px solid #ff5050;
	border-radius: 100%;
}
.seperator {
	float: right;
	font-weight: lighter;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-tabs > li.active > a {
	border-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.nav > li > a {
	color: black;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0px;
	font-family: 'Quicksand', sans-serif;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 1px solid #ff5050;
	color: #ff5050;
	border-top: none;
	border-bottom-color: white;
}
.nav-tabs {
	border-bottom-color: #ff5050;
}
.nobot {
	border-bottom: 0px;
}
#item-quantity {
	width: 50px;
	text-align: center;
}
#add, #remove {
	width: 40px;
}
#login-container {
	margin-top: 50px;
}




