<div class="container-fluid">
	<table class="table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" id="item-name" ng-model="item.name"></td>
				<td><input class="form-control" id="item-quantity" ng-model="item.quantity"></td>
				<td><button class="btn btn-success" ng-click="addItem()">+</button>
			</tr>
			<tr ng-repeat="item in items">
				<td>{{item.name}}</td>
				<td>{{item.quantity}}</td>
				<td><button class="btn btn-danger" ng-click="delete(item._id)">Remove</button></td>
			</tr>
		</tbody>
	</table>
</div>